div {
	border-radius: 15px;
}

button {
  font-family: Proxima Nova, sans-serif;
}

#header {
	z-index: 1;
	position: relative;
	margin-top: 2.5em;
	width: 99.99%;
	height: 200px;
	background-color: #668284;
	margin-bottom: 10px;
}

#name {
	text-align: center;
	margin: auto;
	padding-top: 5px;
	font-size: 2.5em;
	font-family: Proxima Nova, sans-serif;
	color: #ffffff;
}

#byline {
	text-align: center;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 1em;
	font-family: Garamond, serif;
	color: white;
}

#headshot {
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	border-radius: 40px;
  border: 2px solid white;
}

#container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#left {
    float: left;
    width: 33.3%;
    background-color: red;
    padding: 0.1px;
}

#center {
    float: left;
    width: 33.3%;
    background-color: blue;
    padding: 0.1px;
}

#right {
    float: left;
    width: 33.3%;
    background-color: green;
    padding: 0.1px;
}

#footer {
    clear: both;
}

.import {
    border: dashed 0.5px;
    border-color: yellow;
}